.contact__list {
    width: 25%;
    background-color: white;
    border-color: darkgrey;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact__list li {
    list-style-type: none;

}
.contact__list hr {
    width: 100%;
    
}