.header__bar{
    background-color: white;
    margin: 0;
    width: 100%;
    height: 64px;
    position: fixed;
   
}
.header__bar  img{
    height: 40px;
    width: 40px;
    margin: 10px;
    padding: 7px;
}