/* .receiver {
  margin-left: auto;
  background-color: rgba(0, 231, 0, 0.447) !important;
  border-radius: 4px;

} */

.msg {
  background-color: rgba(4, 92, 29, 0.391);
  width: max-content;
  max-width: 500px;
  border-radius: 4px;
  margin: 5px;
  padding: 5px;
  align-items: right;
  
}
