.profile__card{
    width: 15%;
    background-color: white;
    font-family: 'Roboto', sans-serif;

}
.profile__card__bar{
    width: 100%;
    height: 5.9%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
    margin-left: 3px;
    font-family: 'Roboto', sans-serif;
}
.profile__card__bar .profilePicture {
    border-radius: 50%;
    margin: 10px;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    
}
.profile__card__bar p{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.profile__card__header{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #d3d2d2;
}
.profile__card__name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.profile__card__name h3 {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.profile__card__name h5{
    margin-top: -5px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: normal;
}
.profile__card .profile{
    display: block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 10px;
    border: 3px solid teal;
    padding: 2px;
    margin-top: 30px;

}
.profile__card__body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    font-family: 'Roboto', sans-serif;

}
.profile__card__body .profile__card__body__top {
    width: 100%;
    border-bottom: 1px solid #d3d2d2;
}
.profile__card__info__phone__number {
    width: 100%;
    border-bottom: 1px solid #d3d2d2;
}
.profile__card__info__status {
    width: 100%;
    border-bottom: 1px solid #d3d2d2;
}