.chat-container{
    background-color: beige;
    width: 50%;
    border-color: darkgray;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.chat-header{
    text-align: center;
    font-family: arial,sans-serif;
}
.chat-messages{
    max-height: 400px;
    overflow-y:auto;
}
.chat-message-received h3{
    text-align: left;
    background-color: darkgray;
    color: white;
    width: fit-content;
    height:fit-content;
    padding: 10px;
    border-radius: 10px 2px;
    margin: 10px;
    margin-right: auto;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: bold;

}
.chat-message-sent h3{
    text-align: right;
    background-color: lightgreen;
    color: white;
    width: fit-content;
    height:fit-content;
    padding: 10px;
    border-radius: 2px 10px;
    margin: 10px;
    margin-left: auto;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.chat-input{
    width: inherit;
    display: flex;
    position: absolute;
    bottom: 0%;
}
.chat-input input {
    flex: 1;
    padding: 10px;
    font-family: arial,sans-serif;
    border: none;   
    box-sizing: border-box; 
    
}
.chat-input button{
    color: green;
    background-color:honeydew;
    padding: 10px;
    font-family: arial,sans-serif;
    border: none;
    cursor: pointer;
}